// Mixins Here

.center {
  display: flex;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
}

.column {
  flex-direction: column;
  justify-content: space-around;
}
